<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - ERROR</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/bootstrap.css') }}">
    <meta name="author" content="Gage Lieble">

</head>

<body class="error_body">
    <h1>404 Error - Page not found</h1>
    <a href="/"><button class="rounded-3 col-8 mx-auto mt-4 p-2 bg-dark text-white w-100" href="/">Home</button></a>
</body>

</html>