<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-3G9YHKMP5Y"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'G-3G9YHKMP5Y');
    </script>
    <meta name="keywords" content="html, css, javascript, django, flask, gage lieble, pdxcodingguild, pdxcoding, portfolio, web design, web developement, full stack, front end, back end, coding, programming">
    <meta name="oj:type" content="website">
    <meta name="og:title" property="og:title" content="Gage Liebles Webdev Portfolio">
    <meta name="description" content="Hi, my name is Gage Lieble! I am currently attending PDX code guild which is a 400+ hour bootcamp that teaches Javascript, Django, Python, Html, and Css. With these various lanuages, I am able to create the front and back-end sections of websites.">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gage Lieble</title>
    <link rel="stylesheet" href="{% static 'portfolio_app/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio_app/css/bootstrap.css' %}">
    <link rel="icon" href="{% static 'portfolio_app/images/favicon.svg' %}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!--

                                                                            ///
                                                                          //////
                                                                         ///////
                                                                       .//////. 
                                                                      ///////   
                                                                     ///////    
                                                                    ///////     
                                                                  .///////      
                                             /////////           ////////       
                                           ////////////         ////////        
                                         */////////////        ////////         
                                        //////////////        ////////          
                                       ////// ///////       .////////           
                                      ////// ///////.      /////////.           
                                     ////// ///////,      /////////,            
                                    *///// ///////       //////////        ..   
                                    /////*///////      .//////////       /////  
                                   *////////////      ///////////*      //////  
                                  .////////////      ////////////      //////   
                                  ////////////      ////////////      //////,   
                                  //////////*     .////////////      *//////    
                                 ///////////     ./////////////      //////     
                                 /////////,     ////////*/////      */////      
                                 ////////.    *///////*./////,      //////      
                                ////////,    ////////  //////      */////.      
                               *///////,   /////////  //////*     .//////       
                              .////////  /////////.   //////      //////,       
                             ,///////////////////    //////       //////        
                            .//////////////////     *//////      */////*        
                            /////////////////       //////       //////         
        //,               //////// *//////,        ,//////       //////         
       ////////          ////////                  ///////      //////          
        ///////////,   .///////,                  *//////.      //////          
          ////////////////////.                   ///////       //////          
           ,//////////////////*,                 ,//////,      */////           
             ,/////////////////////////          ///////       //////           
  /*           *//////////   .,/////////////.    ///////       //////           
/////         ////////////           ///////    ///////*      */////.           
  //////..//////////////////.                   ///////       */////.           
   /////////////////. /////////                *///////       //////            
     /////////////      *////////.             *///////      ,//////            
          //*              /////////           ////////      ,/////,            
                             *////////.       .///////        /////             
                                /////////.    *///////                          
                                  ./////////. ,///////       ,////*             
                                      ////////////////      .///////            
                                        */////////////       //////             
                                           //////////                           
                                              *//////                           
                                                                                
                                                                            
    -->
</head>


<body class="body">
    <nav class="navbar navbar-expand-lg bg-transparent">
        <!-- NAV -->
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img id="brand" src="{% static 'portfolio_app/images/GICON.svg' %}" alt="G-logo"></a>
            <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"><img src="{% static 'portfolio_app/images/NAVICON.svg' %}" alt="hamburger nav button"></span>
      </button>

            <div style=" height: 100px;" class="collapse navbar-collapse" id="navbarSupportedContent">

                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item fs-1">
                        <a class="nav-link text-white" href="#languages"><span class="comments">&#60;&#33;-</span>Skills<span class="comments">-&#62;<span class="comments"></span></a>
                    </li>
                    <li class="nav-item fs-1">
                        <a class="nav-link text-white" href="#projs"><span class="comments">&#60;&#33;-</span>Projects<span class="comments">-&#62;</span></a>
                    </li>
                    <li class="nav-item fs-1 ">
                        <a class="nav-link text-white" href="#contact"><span class="comments">&#60;&#33;-</span>Contact<span class="comments">-&#62;<span class="comments"></span></a>
                    </li>
                    <li class="nav-item fs-1">
                        <a class="nav-link text-white" href="#socials"><span class="comments">&#60;&#33;-</span>Socials<span class="comments">-&#62;</span></a>
                    </li>
                </ul>
                <!-- <div id="darkness" class="navbar-collapse"></div> -->
            </div>
        </div>
        </div>
    </nav>
    </div>
    </div>

    </nav>
    <div class="to_top">
        <h1><a href="#">^</a></h1>
    </div>
    <section id="head_sec">
        <span id="head_bio">
  <h1 id="bio">Hello, I'm <br>Gage Lieble.<br> I want to make your ideas look amazing!</h1>
   <!-- TOP_BIO -->
  <div id="centered_logo">
  <img id="sphere_icon" class="abstract" src="{% static 'portfolio_app/images/Sphere.png' %}" alt="sphere">
  <img class="glogo" src="{% static 'portfolio_app/images/headshot.jpg' %}" alt="head portrait">
</div>
</span>
        <div id="down_arrow"><a href="#moreabout">&#709;</a></div>
    </section>
    <section id="moreabout">
        <h1 id="bio_who">Who am I?</h1>
        <h2 id="bio_sml">I was born in the City of Roses, Portland Oregon. As of now, I am attending PDXCodeGuild. PDXCodeGuild is a coding bootcamp that teaches everything I will need to become a fullstack web developer.</h2>
        <h2 id="bio_sml">My coding journey started in middle school when I became interested in creating my own websites. In order to teach myself the basics of HTML and CSS, I watched various Youtube tutorials and read tons of pages on StackOverflow.</h2>
        <h2 id="bio_sml">My skills were very limted back then, but now I'm ready to make my childhood passion into a reality.</h2>
        <h2 id="bio_sml"> With my various peoples skills and my passion for code, I can't wait to help you with your next project! Let's talk.</h2>
        <span class="row mx-0">
        <a href="#contact" style="text-decoration: none;"><button id="aboutcontact" class="rounded-3 col-8 mx-auto mt-4 p-2 bg-dark text-white">Contact</button></a>
        </span>

    </section>
    <section id="languages">
        <!-- LANGUAGES -->
        <h1 id="bio">My languages <br> JAVASCRIPT <span class="comments">//</span><br> PYTHON <span class="comments">'''</span><br> DJANGO <span class="comments">#</span><br> HTML <span class="comments">-!&#62;</span><br> CSS <span class="comments">&#42;/</span></h1>
        <div id="image_slide" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="{% static 'portfolio_app/images/HTML.svg' %}" class="d-block w-100" alt="html logo">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'portfolio_app/images/CSS.svg' %}" class="d-block w-100" alt="css logo">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'portfolio_app/images/JS.svg' %}" class="d-block w-100" alt="javascript logo">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'portfolio_app/images/PY.svg' %}" class="d-block w-100" alt="python logo">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="{% static 'portfolio_app/images/DJ.svg' %}" class="d-block w-100" alt="django logo">
                </div>
            </div>
        </div>
    </section>

    <section id="projs">
        <!-- PROJECTS -->
        <h1 id="titles">Projects</h1>
        <div id="projcont">
            <a id="casesix" href="https://dream-stream-capstone.herokuapp.com/" class="case" style="text-decoration: none; display: block;">
                <h1 id="proj_titles">Dream Stream<br><span class="comments" style="font-size: 20px;">django - javascript</span></h1>
            </a>
            <a id="casefive" href="https://gagelieble.com/weather/g/" class="case" style="text-decoration: none; display: block;">
                <h1 id="proj_titles">API Weather app<br><span class="comments" style="font-size: 20px;">django</span></h1>
            </a>
            <a id="caseone" href="https://github.com/PdxCodeGuild/class_kiwi/blob/main/Code/gage/python/Lab4-BlackjackAdvice.py" class="case" style="text-decoration: none; display: block;">
                <h1 id="proj_titles">Black Jack advice<br><span class="comments" style="font-size: 20px;">python</span></h1>
            </a>
            <a id="casetwo" href="https://github.com/PdxCodeGuild/class_kiwi/commit/1f9039bfb6406a71822d3f14496da5efb4e613fb" class="case" style="text-decoration: none; display: block;">
                <h1 id="proj_titles">ATM<br><span class="comments" style="font-size: 20px;">python</span></h1>
            </a>
            <a id="casethree" href="https://github.com/PdxCodeGuild/class_kiwi/blob/main/Code/gage/python/Lab14-DadJokeAPI.py" class="case" style="text-decoration: none; display: block;">
                <h1 id="proj_titles">Dad joke API<br><span class="comments" style="font-size: 20px;">python</span></h1>
            </a>
            <a id="casefour" href="https://github.com/PdxCodeGuild/class_kiwi/blob/main/Code/gage/python/Lab9-ARI.py" class="case" style="text-decoration: none; display: block;">
                <h1 id="proj_titles">Automated Readability Index<br><span class="comments" style="font-size: 20px;">python</span></h1>
            </a>
            
        </div>
    </section>
    <section id="contact">








        <!-- CONTACT FORM -->
        <h1 id="bio" class="mx-auto text-center">Contact Me!</h1>

        <form id="contact_cont" action="{% url 'portfolio_app:submitted' %}" method="POST">
            {% csrf_token %} {{form}}
            <input class="rounded-3 col-12 mx-auto mt-4 p-2 bg-dark text-white" type="submit" value="Send">
        </form>








    </section>
    <section id="socials" class="row mt-5 w-75 mx-auto">
        <a class="col-4" href="https://github.com/Gage-Lieble"><img class="w-75" src="{% static 'portfolio_app/images/GITHUB.svg' %}" alt="github_logo"></a>
        <a class="col-4" href="https://www.linkedin.com/feed/"><img class="w-75" src="{% static 'portfolio_app/images/LINKEDIN.svg' %}" alt="linkedin_logo"></a>
        <a class="col-4" href="https://pdxcodeguild.com/"><img class="w-75" src="{% static 'portfolio_app/images/GRAD.svg' %}" alt="pdxguild_school"></a>
    </section>
    <footer class="row mt-5 ms-0 me-0">
        <p class="col-12 text-center text-white p-2 mb-0">Gage Lieble &copy; 2022</p>
    </footer>
    <svg> <!-- ANIMATION --> <!-- Credit : https://codepen.io/lgrqvst/pen/VgvNrG -->
  <filter id="transmissionerror">
    <feColorMatrix type="saturate" values="0" in="SourceGraphic" result="colormatrix1" />
    <feColorMatrix type="matrix" values="1.0 0 0 0 0  0 0 0 0 0  0 0 1.0 0 0  0 0 0 0" in="colormatrix1" result="colormatrix2" />
    <feTurbulence type="turbulence" baseFrequency="0.001 0.008" numOctaves="2" seed="5" stitchTiles="noStitch" result="turbulence">
      <animate attributeName="baseFrequency" from="0.002 0.008" to="0.001 0.00" dur="13500ms" repeatCount="indefinite" />
      <animate attributeName="numOctaves" from="1" to="100" dur="1750ms" repeatCount="indefinite" />
      <animate attributeName="seed" from="1" to="100" dur="70s" repeatCount="indefinite" />
    </feTurbulence>
    <feColorMatrix type="saturate" values="30" in="turbulence" result="colormatrix3" />
    <feColorMatrix type="matrix" values="1 0 0 0 0  0 1 0 0 0  0 0 1 0 0  0 0 0 100 0" in="colormatrix3" result="colormatrix4" />
    <feDisplacementMap in="colormatrix2" in2="colomatrix4" scale="3" xChannelSelector="R" yChannelSelector="A" result="displacementMap" />
  </filter>
</svg>
</body>

</html>